<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <title>NEWB Squad - An EvE Online Corp</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300,100">
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,400italic,300italic,300,500,500italic,700,900">
        <!--
        Artcore Template
		http://www.templatemo.com/preview/templatemo_423_artcore
        -->
        <link rel="stylesheet" href="css/bootstrap.css">
        <link rel="stylesheet" href="css/font-awesome.css">
        <link rel="stylesheet" href="css/animate.css">
        <link rel="stylesheet" href="css/templatemo-misc.css">
        <link rel="stylesheet" href="css/templatemo-style.css">
        <script src="js/vendor/modernizr-2.6.1-respond-1.1.0.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
        <![endif]-->


        <section id="pageloader">
            <div class="loader-item fa fa-spin colored-border"></div>
        </section> <!-- /#pageloader -->

        <header class="site-header container-fluid">
            <div class="top-header">
                <div class="logo col-md-6 col-sm-6">
                    <h1><a href="index.html"><em>NEWB</em>Squad</a></h1>
                    <span>An EvE Online Corp</span>
                </div> <!-- /.logo -->
                <div class="social-top col-md-6 col-sm-6">
                    <ul>
                    <?php include("login.php"); ?>
                    </ul>
                </div> <!-- /.social-top -->
            </div> <!-- /.top-header -->
            <div class="main-header">
                <div class="row">
                    <div class="main-header-left col-md-3 col-sm-6 col-xs-8">
                        
                        <div id="search-overlay">
                            <a href="#search-overlay" class="close-search"><i class="fa fa-times-circle"></i></a>
                            <div class="search-form-holder">
                                <h2>Type keywords and hit enter</h2>
                                <form id="search-form" action="#">
                                    <input type="search" name="s" placeholder="" autocomplete="off" />
                                </form>
                            </div>
                        </div><!-- #search-overlay -->
                        <a href="#" class="btn-left arrow-left fa fa-angle-left"></a>
                        <a href="#" class="btn-left arrow-right fa fa-angle-right"></a>
                    </div> <!-- /.main-header-left -->
                    <div class="menu-wrapper col-md-9 col-sm-6 col-xs-4">
                        <a href="#" class="toggle-menu visible-sm visible-xs"><i class="fa fa-bars"></i></a>
                        <ul class="sf-menu hidden-xs hidden-sm">
                            <li class="active"><a href="index.php">Home</a></li>
                            <li><a> text </a></li>
                            <li><a> text </a></li>
                            <li><a> text </a></li>
                            <li><a> text </a></li>
                        </ul>
                    </div> <!-- /.menu-wrapper -->
                </div> <!-- /.row -->
            </div> <!-- /.main-header -->
            <div id="responsive-menu">
                <ul>
                    <li><a href="index.php">Home</a></li>
                    <li><a> text </a>/li>
                    <li><a> text </a></li>
                    <li><a> text </a></li>
                    <li><a> text </a></li>
                </ul>
            </div>
        </header> <!-- /.site-header -->
<body class="{S_CONTENT_DIRECTION} {BODY_CLASS}">

<!-- EVENT overall_header_body_before -->

<a name="top" class="anchor"></a>

<div id="wrapheader">
	<ul id="navmenu">
		<li class="first"><a href="<!-- IF U_SITE_HOME -->{U_SITE_HOME}<!-- ELSE -->{U_INDEX}<!-- ENDIF -->">{L_SITE_HOME}</a></li>
		<!-- EVENT overall_header_navigation_prepend -->
		<li><a href="{U_FAQ}">{L_FAQ}</a></li>
		<!-- IF S_DISPLAY_SEARCH --><li><a href="{U_SEARCH}">{L_SEARCH}</a></li><!-- ENDIF -->
		<!-- IF S_DISPLAY_MEMBERLIST --><li><a href="{U_MEMBERLIST}">{L_MEMBERLIST}</a></li><!-- ENDIF -->
		<!-- IF S_NOTIFICATIONS_DISPLAY and not S_IS_BOT and S_USER_LOGGED_IN --><li><a href="{U_VIEW_ALL_NOTIFICATIONS}">{L_NOTIFICATIONS}</a></li><!-- ENDIF -->
		<!-- IF S_USER_LOGGED_IN -->
			<!-- IF S_DISPLAY_PM --><li><a href="{U_PRIVATEMSGS}">{L_PRIVATE_MESSAGES}</a></li><!-- ENDIF -->
			<li><a href="{U_PROFILE}">{L_PROFILE}</a></li>
		<!-- ENDIF -->
		<!-- IF not S_USER_LOGGED_IN and not S_IS_BOT --><li><a href="{U_LOGIN_LOGOUT}">{L_LOGIN}</a></li><!-- ENDIF -->
		<!-- IF S_USER_LOGGED_IN and not S_IS_BOT --><li><a href="{U_LOGIN_LOGOUT}">{L_LOGOUT}</a></li><!-- ENDIF -->
		<!-- IF U_RESTORE_PERMISSIONS --><li><a href="{U_RESTORE_PERMISSIONS}">{L_RESTORE_PERMISSIONS}</a></li><!-- ENDIF -->
		<!-- IF not S_USER_LOGGED_IN and S_REGISTER_ENABLED and not (S_SHOW_COPPA or S_REGISTRATION) -->
			<li><a href="{U_REGISTER}">{L_REGISTER}</a></li>
		<!-- ENDIF -->
		<!-- EVENT overall_header_navigation_append -->
	</ul>

	<div id="logodesc">
		<table width="100%" cellspacing="0">
		<tr>
			<td><a href="<!-- IF U_SITE_HOME -->{U_SITE_HOME}<!-- ELSE -->{U_INDEX}<!-- ENDIF -->" class="imageset">{SITE_LOGO_IMG}</a></td>
			<td width="100%" align="center">
				<h1>{SITENAME}</h1>
				<span class="gen">{SITE_DESCRIPTION}</span>
			</td>
		</tr>
		</table>
	</div>

</div>

<!-- EVENT overall_header_page_body_before -->

<div id="wrapcentre">

	<!-- IF S_DISPLAY_SEARCH -->
	<p class="searchbar">
		<span style="float: {S_CONTENT_FLOW_BEGIN};"><a href="{U_SEARCH_UNANSWERED}">{L_SEARCH_UNANSWERED}</a> &#187; <a href="{U_SEARCH_ACTIVE_TOPICS}">{L_SEARCH_ACTIVE_TOPICS}</a></span>
		<!-- IF S_USER_LOGGED_IN or S_LOAD_UNREADS -->
		<span style="float: {S_CONTENT_FLOW_END};"><!-- IF S_LOAD_UNREADS --><a href="{U_SEARCH_UNREAD}">{L_SEARCH_UNREAD}</a><!-- IF S_USER_LOGGED_IN --> &#187; <!-- ENDIF --><!-- ENDIF --><!-- IF S_USER_LOGGED_IN --><a href="{U_SEARCH_NEW}">{L_SEARCH_NEW}</a> &#187; <a href="{U_SEARCH_SELF}">{L_SEARCH_SELF}</a><!-- ENDIF --></span>
		<!-- ENDIF -->
	</p>
	<!-- ENDIF -->

	<br style="clear: both;" />

	<!-- DEFINE $S_MICRODATA = 1 -->
	<!-- DEFINE $OVERALL_HEADER_BREADCRUMBS = 1 -->
	<!-- INCLUDE breadcrumbs.html -->
	<!-- UNDEFINE $OVERALL_HEADER_BREADCRUMBS -->
	<!-- DEFINE $S_MICRODATA = 0 -->

	<br />
	<!-- EVENT overall_header_content_before -->
        </body>
</html>

